* {
    background-color: #FBF3F1;
}
img{
    margin-top: 6%;
}
.menu {
    padding-bottom: 10px;
}
.cor {
    border: 1px solid #FBF3F1;
    background-color: #FBF3F1;
    padding-top: 2%;
}
.espaco{
    padding-right: 62px;
    color: black;
}
.a {
    text-decoration: none;
    
}
.nome{
    border-left: 10px solid #5A65CC; 
    margin-top: 5%; 
    background-color: #FFF;
    margin-left: 10%;
    width: 30%;
    margin-top: 5%;
    font-size: 25px;
    height: 38px;
}
.reserva {
    border-left: 10px solid #5A65CC; 
    margin-top: 5%; 
    background-color: #FFF;
    margin-left: 10%;
    width: 40%;
    margin-top: 5%;
    font-size: 25px;
    height: 70px;
    float: left;
}
.espaco {
    padding-left: 10px;
}
.div_conta {
    float: left;
    margin-top: 0;
}
.tamanho {
    position: relative;
    top: -40px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.botao{
    position: absolute;;
    margin-top: 7.7%;
    margin-left: -140px;
}