* {
    background-color: rgba(231, 178, 164, 15%);
}
.nav{
    padding: 0%;
    background-color: #FFFFFF;
    z-index: 0;
}

.color{
    background-color: #ffffff;
}
.menu{
    background-color: #FFFFFF;
}
.textos{
    padding-right: 142px;
    background-color: #FFFFFF;
    font-weight: 500;
}
.imagem{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 117px;
    background-color: #FFFFFF;
}
.contato{
    padding-right: 62px;

}
.tag-a{
    text-decoration: underline;
    color: #5A65CC;
}

